body {
    color: #555;
    background-image: linear-gradient(white, rgb(219, 216, 216)
    );
    font-family: 'Lato', sans-serif;
}
.list-wrapper {
    max-width: 600px;
    margin: 50px auto;
}
.list {
    background: #fff;
    border-radius: 2px;
    list-style: none;
    padding: 10px 20px;
}
.list-item {
    display: flex;
    margin: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}
.view{
    align-self:center;
    justify-self: flex-end;
}
button{
    background-color: #aaa;
    margin: 20px;
    border: 0px;
    border-radius: 15px;
    height: 30px;
    
}
button:hover{
    background-color: #FFBF00;
    cursor:pointer;
}

#loader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.list-item:last-child {
    border-bottom: none;
}
.list-item-image {
    border-radius: 50%;
    width: 64px;
}
.list-item-content {
    margin-left: 20px;
    flex-grow: 1;
    padding: 20px;
    border-radius: 5px;
    background-color: #f3f2f2;
}
.list-item-content h4, .list-item-content p {
    margin: 0;
}
.list-item-content h4 {
    margin-top: 10px;
    font-size: 18px;
}
.list-item-content p {
    margin-top: 5px;
    color: #aaa;
}
.list{
    padding: 30px;
    
}